eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL:http://eureka-0.eureka:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true


management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
